<!-- <app-progress-bar [progreso]="progreso"></app-progress-bar>

<app-countdown  
  #regreso
  [valorInicial]="inicioConteo" 
  (contadorDecrementado)="actualizarProgreso($event)"  
  (conteoFinalizado)="imprimirFinDelConteo()"  
></app-countdown>

<div class="contenedor-input">
  <label for="InicioRegresivo">Inicia en : </label>
  <input type="number" id="InicioRegresivo" [(ngModel)]="inicioConteo">
</div>

<button 
(click)="regreso.inicializarConteo();
progreso=0"
>Reiniciar</button>

 -->

 <app-boton (numeroCambiado)="actualizarNumero($event)"></app-boton>
  <app-input [numero]="numero"></app-input>